archive/embeddings_25k_tacoexpr.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_32_10_25000_tacosched.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_32_10_25000_css.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_100_tacoexpr_new.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_500_tacosched_new.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_20_100_tacosched.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_64_10_25000_tacoexpr.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_20_100_tacosched_new.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_5000_tacosched.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_5000_tacosched_new.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_5000_tacosched_old.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_100k_tacosched.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_1000_tacosched_new.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_2500_tacosched.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_750_tacosched.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_750_tacosched_new.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_25k_cssnew2.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_10k_css.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_500_karel.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_25k_cssnew.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_25k_tacoexpr_all.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_32_10_25000_tacoexpr.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_100_tacoexpr.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_2500_tacosched_new.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_500_tacosched.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_64_10_25000_css.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_10k_tacoexpr.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_10k_tacosched.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_1000_tacosched.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_100_tacosched_new.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_64_10_25000_tacosched.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_100_tacosched.csv filter=lfs diff=lfs merge=lfs -text
archive/embeddings_128_10_5000_karel.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_5000_tacosched_nomic_embed_text.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_1000_tacosched_mxbai_embed_large.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_1000_tacosched_snowflake_arctic_embed2.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_10_tacosched_mxbai_embed_large.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_15000_tacoexpr_gensim.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_15000_tacosched_gensim.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_5000_karel_gensim.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_5000_tacosched_snowflake_arctic_embed2.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_1000_tacosched_gensim.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_1000_tacosched_nomic_embed_text.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_10_tacosched_gensim.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_15000_css_gensim.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_5000_tacosched_gensim.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_5000_tacosched_mxbai_embed_large.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_10000_tacosched_nopartials_gensim.csv filter=lfs diff=lfs merge=lfs -text
results/temporal filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_10000_css_gensim.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_10000_css_nopartials_gensim.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_10000_karel_nopartials_gensim.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_10000_tacoexpr_gensim.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_10000_tacoexpr_nopartials_gensim.csv filter=lfs diff=lfs merge=lfs -text
results/embeddings_128_10000_tacosched_gensim.csv filter=lfs diff=lfs merge=lfs -text
